<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Guild Wars 2</title>
  <link rel="stylesheet" type="text/css" href="../../lib/css/style.min.css" data-th-href="@{/css/style.min.css}">
  <script src="../../lib/js/global.min.js" data-th-src="@{/js/global.min.js}"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>
<div class="container" role="main">
  <nav role="navigation">

  </nav>
  <section class="background">
    <div class="background-main-image">
      <div class="background-primary"></div>
      <div class="background-secondary"></div>
    </div>
  </section>
  <section role="application" class="main-application">
    <NgApp>
      Loading...
    </NgApp>
  </section>
  <footer role="contentinfo">

  </footer>
</div>
</body>
</html>